:root{
    --main_color: #ccc;
}

body{
    box-sizing: border-box;
    margin: 0;
    font-family: sans-serif;
    background-color: var(--main_color);
}


*,
*::after,
*::before {
    box-sizing: inherit;
}

.flexbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 600px;
    margin: auto;
}


.bloque{
    display: inline-block;
    min-width: 200px;
    /* max-width: 200px; */
    /* min-height: 300px; */
    background-color: #7bf;
    margin: auto;
    /* flex-grow: 1;
    flex-basis: 0; */
    flex: 1;
    font-size: 12px;
    padding: 10px;
    margin: 4px;
}

p{
    margin: 0;
}