body{
    margin: 0;
    font-family: sans-serif;
    background-color: #ccc;
}

.box{
    width: 240px;
    height: 240px;
    margin: auto;
    margin-top: 50px;
    background-color: #fff;
    border: 1px solid #0006;
    /* white-space: pre-wrap; */
    /* white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; */
    white-space: normal;
    /* word-break: keep-all; */
    /*Evitar que palabras largas rompan el contenedor asiendo que se ajusten */
    overflow-wrap: break-word;
    /* overflow-wrap: anywhere; */
    /* mejora la legibilidad de parrafos largos (EXPERIMENTAL) */
    text-wrap: pretty;
    /* mejora la legibilidad con guiones */
    hyphens: auto;
    padding: 10px;
    overflow: auto;
    text-align: justify;

} 
h1{
    /* balance entre textos y titulos no tan largos */
    text-wrap: balance;
}

