body{
    font-family: sans-serif;
    margin: 0;
    background-color: #ccc;
}


.box{
    width: 150px;
    /* height: 150px; */
    margin: auto;
    background-color: #f00;
    margin-top: 50px;
    border: 5px solid #000;
    padding: 10px;  
    border: 5px solid #000;
    /* outline no ocupa espacio en el viewport es un aspecto visual */
    /* outline-width: 10px;
    outline-color: #00f;
    outline-style: solid;*/

}

.box:hover{
    /* outline-offset: 10px;  */
    outline: 5px solid #00f;
}

input{
    margin: 50px;
    border: none;
    border-top: 3px solid #000;
    padding: 6px;
    outline: 2px solid #cf0d0d;
    outline-offset: 5px;
    transition: outline .4s, outline-offset .4s ease-in-out;
}

input:focus{
    /* outline: none; */
    border-color: #00f;
    color: #00f;
}

input:focus-visible{
    outline: none;
}


/*
input:active{
    border: 2px solid #000;
} */

