:root{
    --color-black: #000;
    --color-white: #fff;
    --font: sans-serif;
    --tamanio-principal: 2.4rem
}

body{
    box-sizing: border-box;
    font-family: var(--font);
    color: var(--font-color);
}

*,
*::after,
*::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}


.box{
    background-color: var(--color-principal);
    display: grid;
    place-content: center;
    color: var(--color-white);
    margin: 120px auto;
    font-size: 40px;
    padding: 0 40px;
    /* width: min(600px, 100%, 200%); */
    /* width: max(600px, 100%); */
    /* width: clamp(800px, 100%, 1600px); */
    font-size: clamp(var(--tamanio-principal), 2.2vw, 5rem);
    border: 6px solid #000;

}

h1{
    margin: 10px 0;
    font-size: 2.2em
}

@property --color-principal {
    syntax: "<color>";
    inherits: false;
    initial-value: #48e;
}





