*{
    /* font-size: 16px; */
    /* box-sizing: border-box; */
}

body{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.form{  
    background-color: red;
    padding: 30px

} 

.form_input{
    width: 90%;
    padding: 6px 10px;
    background: black;
    color: red;
    margin: 10px;
    
}

.form_submit{ 
    letter-spacing: 3px;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.865);
    color: #000000;
    width: 50%;

}


.box{
    background-color: rgb(17, 0, 255);
    height: 150px;
    width: 150px;
    margin: 30px;

}

